body {
     height: 100%;
}
    .center {
        text-align: center;
    }
    .ajaxMessage {
        border-radius: 20px;
        font-size: 21px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    
div.ajaxError {

            border-radius: 20px 20px 20px 20px;
            width: 70%;
            margin-left: auto;
            margin-right: auto;

            font-size: 18px;
            font-weight: bold;
}
div.ajaxSucces {


            border-radius: 20px 20px 20px 20px;
            width: 70%;
            margin-left: auto;
            margin-right: auto;

            font-size: 18px;
            font-weight: bold;
}