@media (min-width: 1310px) {
        td.widthMoodAdd {
            width: 35%;
        }
        table.kalendar {

            opacity: none;
        border-spacing: 1px;
        border-collapse: separate;
        width: 950px;
        height: 620px;



        }
        div.scroll {
            overflow-y: scroll; 
            height:280; 

        }

        div.titleMood {
                border-radius: 17px 17px 0px 0px;
                
            
                width: 100%;
                height: 42px;
                padding-top: 6px;
                padding-left: 4%;
                font-size: 20px;
   
                text-align: center;
        }
        div.formAddMood {
            background-color: rgba(208, 205, 10, 0.73);
            border-radius: 17px 17px 17px 17px;
        }
        
        table.kalendar  tr:nth-child(6){ /* tr:nth-child(5):last-of-type */
            height: 100px;
        }
        span.kalendar {
            font-size: 20px;
            color: #404803;
        }
        span.kalendarBig {
            font-size: 25px;
            color: #404803;
        }
        .btn-success {
                background-color: #B87A0D !important;
                border-color: #6E791A !important;
                font-size: 19px !important;
                font-weight: bold !important;
        }
        .btn-success:hover {
                background-color: yellow !important;
                border-color: #C29713 !important;
                font-size: 19px !important;
                font-weight: bold !important;
        }
        .btn-primary {
                background-color: #9D1AD5 !important;
                border-color: #6E791A !important;
                font-size: 19px !important;
                font-weight: bold !important;
        }
        .btn-primary:hover {
                background-color: #5A047F !important;
                border-color: #C29713 !important;
                font-size: 19px !important;
                font-weight: bold !important;
        }
        
        
        
        .btn-mood {
                background-color: #B87A0D; 
                border: solid 1px transparent;
                border-color: #6E791A;
                padding-top: 13px;
                padding-left: 25px;
                padding-right: 25px;
                padding-bottom: 13px;
                color: white;
                border-radius: 12px;
                height: 65px;
                text-align: center;
                display: inline-block;
                font-size: 24px;
                font-weight: bold;
                box-shadow: 6px 6px 6px #F4E375;

        }
        .btn-mood:hover  {
                background-color: yellow; 
                color: white;
                border-color: #C29713;
                border-radius: 12px;
                text-align: center;
                display: inline-block;
                font-size: 24px;
                font-weight: bold;
        }
        .btn-sleep {
                background-color: #9D1AD5; 
                border: solid 1px transparent;
                border-color: #6E791A;
                padding-top: 13px;
                padding-left: 25px;
                padding-right: 25px;
                padding-bottom: 13px;
                color: white;
                border-radius: 12px;
                height: 65px;
                text-align: center;
                display: inline-block;
                font-size: 24px;
                font-weight: bold;
                box-shadow: 6px 6px 6px #F4E375;
        }
        .btn-sleep:hover  {
                background-color: #5A047F; 
                color: white;
                border-color: #C29713;
                border-radius: 12px;
                text-align: center;
                display: inline-block;
                font-size: 24px;
                font-weight: bold;
        }
        .btn-drugs {
                background-color: #1FDA28; 
                border: solid 1px transparent;
                border-color: #A7D416;
                padding-top: 13px;
                padding-left: 25px;
                padding-right: 25px;
                padding-bottom: 13px;
                color: white;
                border-radius: 12px;
                height: 65px;
                text-align: center;
                display: inline-block;
                font-size: 24px;
                font-weight: bold;
                box-shadow: 6px 6px 6px #F4E375;

        }
        .btn-drugs:hover  {
                background-color: #19FF24; 
                color: white;
                border-color: yellow;
                border-radius: 12px;
                text-align: center;
                display: inline-block;
                font-size: 24px;
                font-weight: bold;
        }
        div.cell_active {

            background-color: #E97705;
            border-radius: 15px;
            height: 100%;
            color: #524504;
            padding-top: 25%;

        }
        div.cell_selected {

            background-color: yellow;
            border-radius: 15px;
            height: 100%;
            padding-top: 25%;
            cursor: pointer;
        }
        div.cell10000 {
            height: 100%;
            padding-top: 25%;
            background-color: #F3FBA1;
            opacity: 0.7;
            border-radius: 5px;
            cursor: pointer;

        }
        a.no_active {
            color: #6A720C;
        }
        .trCalendar {
            height: 100px;

        }
        .tdCalendar {
            height: 100px;
            width: 12%;
            
        }
            #MainPage {
                width: 75%;
                background-color: rgba(210, 197, 13, 0.6);
                border: 20px;
                border-radius: 25px 25px 25px 25px;
                margin-left: auto;
                margin-right: auto;

                min-height: 100%;

            }
            #menuMain {
                border-radius: 17px 17px 0px 0px;

      
                width: 100%;
                height: 42px;
                padding-top: 6px;
                padding-left: 4%;
                font-size: 20px;
               
                text-align: center;
            }
            div.menu {
            width: 20%;
            color: white;
            text-align: center;
            font-weight: bold;
            padding: 2px;

            float: left;

        }
        a.menu {
            color: white;
            text-decoration: none;
            font-size: 17px;
        }
        a.menu:hover {
            text-decoration: underline;
            color: #E9BA10;
        }
        div.empty_menu {
            width: 10%;
            float: left;
        }
        button.calendar {
                background-color: #B87A0D; 
                border: solid 1px transparent;
                border-color: #6E791A;
                padding-top: 13px;
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 13px;
                width: 230px;
                color: white;
                border-radius: 12px;
                height: 65px;
                text-align: center;
                display: inline-block;
                font-size: 24px;
                font-weight: bold;
                box-shadow: 6px 6px 6px #F4E375;
        }
        button.calendar:hover {
                background-color: yellow; 
                color: white;
                border-color: #C29713;
                border-radius: 12px;
                text-align: center;
                display: inline-block;
                font-size: 24px;
                font-weight: bold;
        }
        .nounderline {
          text-decoration: none !important
        }
        
        
        
        div.menuSelectAddMain {
            width: 65%;
            margin-left: auto;
            margin-right: auto;
            display:flex;
            padding-left: 2%;
            padding-right: 2%;
            
                
        }
        div.menuMood {
           width: 25%;
           margin-left: 1px;
           margin-right: 1px;
           text-align: center;
           font-size: 22px;

           border-radius: 25px 25px 0px 0px;
           cursor:pointer;

           

        }
        div.centerMood {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }
        
        
}
@media (min-width: 700px) and (max-width: 1310px) { 
        div.menuMood {
           width: 25%;
           margin-left: 1px;
           margin-right: 1px;
           text-align: center;
           font-size: 22px;

           border-radius: 25px 25px 0px 0px;
           cursor:pointer;

           

        }
            div.menuSelectAddMain {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            display:flex;
            padding-left: 2%;
            padding-right: 2%;
            
                
        }
            button.calendar {
                background-color: #B87A0D; 
                border: solid 1px transparent;
                border-color: #6E791A;
                padding-top: 13px;
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 13px;
                width: 230px;
                color: white;
                border-radius: 12px;
                height: 65px;
                text-align: center;
                display: inline-block;
                font-size: 19px;
                font-weight: bold;
                box-shadow: 6px 6px 6px #F4E375;
        }
        button.calendar:hover {
                background-color: yellow; 
                color: white;
                border-color: #C29713;
                border-radius: 12px;
                text-align: center;
                display: inline-block;
                font-size: 19px;
                font-weight: bold;
        }
            div.scroll {
            overflow-y: scroll; 
            height:280; 
            max-width: 380px;
        }
            table.kalendar {

            opacity: none;
        border-spacing: 1px;
        border-collapse: separate;
        width: 950px;
        height: 620px;



        }
        div.formAddMood {
            background-color: rgba(208, 205, 10, 0.73);
            border-radius: 17px 17px 17px 17px;
        }
        div.titleMood {
                border-radius: 17px 17px 0px 0px;

                width: 100%;
                height: 42px;
                padding-top: 6px;
                padding-left: 4%;
                font-size: 20px;

                text-align: center;
        }
       tr:nth-child(6){ /* tr:nth-child(5):last-of-type */
            height: 109px;
        }
        span.kalendar {
            font-size: 20px;
            color: #404803;
        }
        span.kalendarBig {
            font-size: 25px;
            color: #404803;
        }
        .btn-success {
                background-color: #B87A0D !important;
                border-color: #6E791A !important;
                font-size: 19px !important;
                font-weight: bold !important;
        }
        .btn-success:hover {
                background-color: yellow !important;
                border-color: #C29713 !important;
                font-size: 19px !important;
                font-weight: bold !important;
        }
        div.cell_active {

            background-color: #E97705;
            border-radius: 15px;
            height: 100%;
            color: #524504;
            padding-top: 25%;
            
            

        }
        div.cell_selected {

            background-color: yellow;
            border-radius: 15px;
            height: 100%;
            padding-top: 25%;
            cursor: pointer;
            
        }
        div.cell10000 {
            height: 100%;
            padding-top: 25%;
            background-color: #F3FBA1;
            opacity: 0.7;
            border-radius: 5px;
            

        }
        a.no_active {
            color: #6A720C;
        }
        .trCalendar {
            height: 100px;

        }
        div.titleMood {
            
        }
        .tdCalendar {
            height: 100px;
            width: 12%;
        }
            #MainPage {
                width: 100%;
                background-color: rgba(210, 197, 13, 0.6);
                border: 20px;
                border-radius: 25px 25px 25px 25px;
                margin-left: auto;
                margin-right: auto;

                min-height: 100%;

            }
            #menuMain {
                border-radius: 17px 17px 0px 0px;

                width: 100%;
                height: 42px;
                padding-top: 6px;
                padding-left: 4%;
                font-size: 20px;

                text-align: center;
            }
            div.menu {
            width: 20%;
            color: white;
            text-align: center;
            font-weight: bold;
            padding: 2px;

            float: left;

        }
        a.menu {
            color: white;
            text-decoration: none;
            font-size: 17px;
        }
        a.menu:hover {
            text-decoration: underline;
            color: #E9BA10;
        }
        div.empty_menu {
            width: 10%;
            float: left;
        }
        button.calendar {
               width: 80% !important;
                height: 60px !important;
        }
        .nounderline {
          text-decoration: none !important
        }
}


div.actionMain {
    background-color: rgba(222, 56, 27, 0.63);
    margin: 10px;
    padding: 7px;
    color: #C8C055;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    border-radius: 20px;
    cursor:pointer;
}
div.actionMainselected {
    background-color: rgb(231, 37, 3);
    margin: 10px;
    padding: 7px;
    color: #C8C055;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    border-radius: 20px;
    cursor:pointer;
}

    div.bodyDiv {
        border-radius: 17px 17px 17px 17px;
        background-image: url('../tlo.png'); /* from http://subtlepatterns.com */
    }
    td.moodadd {
        color: #84440F;
    }
    .center {
        text-align: center;
    }
    
div.rowPercent {
    
    
}
input.percentExecuting {

   
}
div.centerPercent {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    float: center;
    padding-bottom: 10px;

     
    
    
}
div.hiddenPercentExecuting {
     display: none;
     
 

}

div.moodSelected {
               border-top: 3px solid #D6E109;
           border-left: 3px solid #D6E109;
           border-right: 3px solid #D6E109;
           width: 28%;
           color: #E6F20C;
}