
#calendar {
    
    box-shadow: 0px 31px 17px -6px rgba(64,66,29,0.7);
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}



    div.bodyDiv {
        border-radius: 17px 17px 17px 17px;
        background-image: url('../tlo.png'); /* from http://subtlepatterns.com */
    }

    .center {
        text-align: center;
    }
    
div.rowPercent {
    
    
}
input.percentExecuting {

   
}
div.centerPercent {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    float: center;
    padding-bottom: 10px;

     
    
    
}
div.hiddenPercentExecuting {
     display: none;
     
 

}

div.moodSelected {
               border-top: 3px solid #D6E109;
           border-left: 3px solid #D6E109;
           border-right: 3px solid #D6E109;
           width: 28%;
           color: #E6F20C;
}
td.start {
    width: 30%;
    padding-left: 15px;
    padding: 15px;
}
td.end {
    text-align: right;
    padding-right: 15px;
}
td.sizeTableMood {
    width: 8%;
    text-align: center;
}

table.moodShow {
    margin: 10px;
    background-color: rgba(255, 235, 56, 0.6);
    color: #775807;
}
table.moodShow, td.showMood, td.moodButton {
   border: 2px solid #A77906;
   border-collapse: collapse;

}
td.showMood {
    border-top: 5px solid #626222;

}
tr.bold {
    font-weight: bold;
}
div.level {
    height: 35px;
    margin: 9px;
        box-shadow: 0 0 8px 2px #5C5B04;
    border-radius: 15px;
    text-align: center;
}
div.level-10 {
    
    background-color: #15190f;

    color: black;
    

}
div.level-9 {
    
    background-color: #242423;

    

    color: black;
}
div.level-8 {
    
    background-color: #41403F;


    color: black;
}
div.level-7 {
    
    background-color: #5C5B59;


    color: black;
}
div.level-6 {
    
    background-color: #72716F;


    color: black;
}

div.level-5 {
    
    background-color: #868273;


    color: black;
}
div.level-4 {
    
    background-color: #979F87;


    color: black;
}

div.level-3 {
    
    background-color: #A8B298;

    
    color: black;
}
div.level-2 {
    
    background-color: #C3CCB5;


    color: black;
}
div.level-1 {
    
    background-color: #CFCBB5;


    color: black;
}
div.level0 {
    
    background-color: white;


    color: black;
}
div.level1 {
    
    background-color: #f6f9ac;

    color: black;
}
div.level2 {
    
    background-color: #f5f988;

    color: black;
}
div.level3 {
    
    background-color: #dfe365;


    color: black;

}
div.level4 {
    
    background-color: #e5ea50;


    color: black;
}
div.level5 {
    
    background-color: #d8de3b;


    color: black;
}
div.level6 {
    
    background-color: #cdd410;


    color: black;
}
div.level7 {
    
    background-color: #999f00;


    color: black;
}
div.level8 {
    
    background-color: #9ae021;


    color: black;
}
div.level9 {
    
    background-color: #84c80f;


    color: black;
}
div.level10 {
    
    background-color: #08F608;


    color: black;
}


div.cellBorder {
    border-radius: 20px;
    box-shadow: 0px 0px 4px 3px rgba(64,66,29,0.47);
}
div.cell100 {

    background-color: #A55188;
    
    
    
}
div.cell-10 {
    
    background-color: #15190f;
   
   
   
}
div.cell-9 {
    
    background-color: #242423;
   
   
}
div.cell-8 {
    
    background-color: #41403F;
   
   
   
}
div.cell-7 {
    
    background-color: #5C5B59;
   
    
    
}
div.cell-6 {
    
    background-color: #72716F;
    
    
    
}

div.cell-5 {
    
    background-color: #868273;
    
    
    
}
div.cell-4 {
    
    background-color: #979F87;
    
    
}

div.cell-3 {
    
    background-color: #A8B298;
    
    
}
div.cell-2 {
    
    background-color: #C3CCB5;
    
    
    
}
div.cell-1 {
    
    background-color: #E2E3C3;
    
    
    
}
div.cell0 {
    
    background-color: white;
    
    
    
}
div.cell1 {
    
    background-color: #F4F7B4;
   
    
    
}
div.cell2 {
    
    background-color: #EEF395;
   
    
    
}
div.cell3 {
    
    background-color: #F0F589;
   
   
   
}
div.cell4 {
    
    background-color: #EFF66E;
    
    
   
}
div.cell5 {
    
    background-color: #F2FA50;
    
    
    
}
div.cell6 {
    
    background-color: #F4FF23;
    
    
    
}
div.cell7 {
    
    background-color: #CAFB26;
    
}
div.cell8 {
    
    background-color: #A8EB2D;

}
div.cell9 {
    
    background-color: #A7F400;
  
    
}
div.cell10 {
    
    background-color: #39F400;

}


div.levelSleep {
        background-color: #AD15CF;


    color: black;
}

span.fontMood {
    font-size: 22px;
}
span.fontMoodNot {
    font-size: 20px;
    color: #350244;
}

thead.titleTheadMood {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: rgb(218, 240, 106);
    
}
td.moodButton {
    padding: 7px;
    padding-bottom: 30px;
     border-left: 2px solid #A77906;
   border-right: 2px solid #A77906;
    
}

table.tableCenter {
    margin-left: auto;
    margin-right: auto;
}