@media (min-width: 1810px) {
    #calendar {
        width: 80%;
    }
     td.moodadd {
                   
        color: #84440F;
    
      
    }
    input {
        height: 40px;
        
    }
div.actionMain {
    background-color: rgba(222, 56, 27, 0.63);
    margin: 10px;
    padding: 7px;
    color: #C8C055;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    border-radius: 20px;
    cursor:pointer;
}
div.actionMainselected {
    background-color: rgb(231, 37, 3);
    margin: 10px;
    padding: 7px;
    color: #C8C055;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    border-radius: 20px;
    cursor:pointer;
}
        td.widthMoodAdd {
            width: 35%;
        }
        table.kalendar {

            opacity: none;
        border-spacing: 1px;
        border-collapse: separate;
        width: 950px;
        height: 620px;



        }
        div.scroll {
            overflow-y: scroll; 
            height:280; 

        }

        div.titleMood {
                border-radius: 17px 17px 0px 0px;
                
            
                width: 100%;
                height: 42px;
                padding-top: 6px;
                padding-left: 4%;
                font-size: 20px;
   
                text-align: center;
        }
        div.titleMoodShow {
                border-radius: 17px 17px 0px 0px;
                
            
                width: 100%;
                height: 52px;
                padding-top: 6px;
                padding-left: 4%;
                font-size: 26px;
   
                text-align: center;  
        }
        div.formAddMood {
            background-color: rgba(208, 205, 10, 0.73);
            border-radius: 17px 17px 17px 17px;
        }
        
        table.kalendar  tr:nth-child(6){ /* tr:nth-child(5):last-of-type */
            height: 100px;
        }
        span.kalendar {
            font-size: 20px;
            color: #404803;
        }
        span.kalendarBig {
            font-size: 25px;
            color: #404803;
        }
        span.HourMood {
            font-size: 20px;

           
        }
        .btn-success {
                background-color: #B87A0D !important;
                border-color: #6E791A !important;
                font-size: 19px !important;
                font-weight: bold !important;
        }
        .btn-success:hover {
                background-color: yellow !important;
                border-color: #C29713 !important;
                font-size: 19px !important;
                font-weight: bold !important;
        }
        .btn-primary {
                background-color: #9D1AD5 !important;
                border-color: #6E791A !important;
                font-size: 19px !important;
                font-weight: bold !important;
        }
        .btn-primary:hover {
                background-color: #5A047F !important;
                border-color: #C29713 !important;
                font-size: 19px !important;
                font-weight: bold !important;
        }
        
        
        
        .btn-mood {
                background-color: #B87A0D; 
                border: solid 1px transparent;
                border-color: #6E791A;
                padding-top: 13px;
                padding-left: 25px;
                padding-right: 25px;
                padding-bottom: 13px;
                color: white;
                border-radius: 12px;
                height: 65px;
                text-align: center;
                display: inline-block;
                font-size: 24px;
                font-weight: bold;
                box-shadow: 6px 6px 6px #F4E375;

        }
        .btn-mood:hover  {
                background-color: yellow; 
                color: white;
                border-color: #C29713;
                border-radius: 12px;
                text-align: center;
                display: inline-block;
                font-size: 24px;
                font-weight: bold;
        }
        .btn-sleep {
                background-color: #9D1AD5; 
                border: solid 1px transparent;
                border-color: #6E791A;
                padding-top: 13px;
                padding-left: 25px;
                padding-right: 25px;
                padding-bottom: 13px;
                color: white;
                border-radius: 12px;
                height: 65px;
                text-align: center;
                display: inline-block;
                font-size: 24px;
                font-weight: bold;
                box-shadow: 6px 6px 6px #F4E375;
        }
        .btn-sleep:hover  {
                background-color: #5A047F; 
                color: white;
                border-color: #C29713;
                border-radius: 12px;
                text-align: center;
                display: inline-block;
                font-size: 24px;
                font-weight: bold;
        }
        .btn-action {
                background-color: #4293E5; 
                border: solid 1px transparent;
                border-color: #6E791A;
                padding-top: 13px;
                padding-left: 25px;
                padding-right: 25px;
                padding-bottom: 13px;
                color: white;
                border-radius: 12px;
                height: 65px;
                text-align: center;
                display: inline-block;
                font-size: 24px;
                font-weight: bold;
                box-shadow: 6px 6px 6px #F4E375;            
        }
        .btn-action:hover  {
                background-color: #1177DD; 
                color: white;
                border-color: #C29713;
                border-radius: 12px;
                text-align: center;
                display: inline-block;
                font-size: 24px;
                font-weight: bold;
        }

        .btn-drugs {
                background-color: #1FDA28; 
                border: solid 1px transparent;
                border-color: #A7D416;
                padding-top: 13px;
                padding-left: 25px;
                padding-right: 25px;
                padding-bottom: 13px;
                color: white;
                border-radius: 12px;
                height: 65px;
                text-align: center;
                display: inline-block;
                font-size: 24px;
                font-weight: bold;
                box-shadow: 6px 6px 6px #F4E375;

        }
        .btn-drugs:hover  {
                background-color: #19FF24; 
                color: white;
                border-color: yellow;
                border-radius: 12px;
                text-align: center;
                display: inline-block;
                font-size: 24px;
                font-weight: bold;
        }
        div.cell_active {

            background-color: #E97705;
            border-radius: 15px;
            height: 100%;
            color: #524504;
            padding-top: 25%;

        }
        div.cell_selected {

            background-color: yellow;
            border-radius: 20px;
            height: 100%;
            padding-top: 25%;
            cursor: pointer;
        }
        div.cell10000 {
          
            background-color: #F3FBA1;
            border-radius: 0 !important;
            box-shadow: 0 0 0 0 !important;


        }
        div.cell {
            height: 100%;
            padding-top: 25%;
            opacity: 0.7;
            border-radius: 5px;
            cursor: pointer;
        }
        a.no_active {
            color: #6A720C;
        }
        .trCalendar {
            height: 100px;

        }
        .tdCalendar {
            height: 100px;
            width: 12%;
            
        }
            #MainPage {
                width: 75%;
                background-color: rgba(210, 197, 13, 0.6);
                border: 20px;
                border-radius: 25px 25px 25px 25px;
                margin-left: auto;
                margin-right: auto;

                min-height: 100%;

            }
            #menuMain {
                border-radius: 17px 17px 0px 0px;

      
                width: 100%;
                height: 42px;
                padding-top: 6px;
                padding-left: 4%;
                font-size: 20px;
               
                text-align: center;
            }
            div.menu {
            width: 20%;
            color: white;
            text-align: center;
            font-weight: bold;
            padding: 2px;

            float: left;

        }
        a.menu {
            color: white;
            text-decoration: none;
            font-size: 17px;
        }
        a.menu:hover {
            text-decoration: underline;
            color: #E9BA10;
        }
        div.empty_menu {
            width: 10%;
            float: left;
        }
        button.calendar {
                background-color: #B87A0D; 
                border: solid 1px transparent;
                border-color: #6E791A;
                padding-top: 13px;
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 13px;
                width: 230px;
                color: white;
                border-radius: 12px;
                height: 65px;
                text-align: center;
                display: inline-block;
                font-size: 24px;
                font-weight: bold;
                box-shadow: 6px 6px 6px #F4E375;
        }
        button.calendar:hover {
                background-color: yellow; 
                color: white;
                border-color: #C29713;
                border-radius: 12px;
                text-align: center;
                display: inline-block;
                font-size: 24px;
                font-weight: bold;
        }
        button.main {
                
                border: solid 1px transparent;
                
                padding-top: 10px;
                padding-left: 5px;
                padding-right: 5px;
                padding-bottom: 10px;
                width: 150px;
                color: white;
                border-radius: 12px;
                height: 55px;
                text-align: center;
                display: inline-block;
                font-size: 18px;
                font-weight: bold;
                box-shadow: 6px 6px 6px #F4E375;
        }
        button.main:hover {
                
                color: white;
                border-color: #C29713;
                border-radius: 12px;
                text-align: center;
                display: inline-block;
                font-size: 18px;
                font-weight: bold;
        }
        button.main-long {
                     border: solid 1px transparent;
                
                padding-top: 10px;
                padding-left: 5px;
                padding-right: 5px;
                padding-bottom: 10px;
                width: 150px;
                color: white;
                border-radius: 12px;
                height: 55px;
                text-align: center;
                display: inline-block;
                font-size: 15px;
                font-weight: bold;
                box-shadow: 6px 6px 6px #F4E375;
        }
        button.main-long:hover {
                
                color: white;
                border-color: #C29713;
                border-radius: 12px;
                text-align: center;
                display: inline-block;
                font-size: 15px;
                font-weight: bold;
        }
        button.danger {
                border: solid 1px transparent;
                background-color: red;
                padding-top: 5px;
                padding-left: 5px;
                padding-right: 10px;
                padding-bottom: 10px;
                width: 150px;
                color: white;
                border-radius: 12px;
                height: 55px;
                text-align: center;
                display: inline-block;
                font-size: 18px;
                font-weight: bold;
                box-shadow: 6px 6px 6px #F4E375;
        }
        button.danger:hover {
                background-color: #F92900;
                color: white;
                border-color: #C29713;
                border-radius: 12px;
                text-align: center;
                display: inline-block;
                font-size: 18px;
                font-weight: bold;
        }
        button:disabled, button.disable {
                            background-color: #D92A2A; 
                border: solid 1px transparent;
                border-color: #6E791A;
                padding-top: 5px;
                padding-left: 5px;
                padding-right: 10px;
                padding-bottom: 10px;
                width: 150px;
                color: white;
                border-radius: 12px;
                height: 55px;
                text-align: center;
                cursor: default;
                display: inline-block;
                font-size: 18px;
                font-weight: bold;
                box-shadow: 6px 6px 6px #F4E375;
                display:block;
        }
        .nounderline {
          text-decoration: none !important
        }
        
        
        
        div.menuSelectAddMain {
            width: 65%;
            margin-left: auto;
            margin-right: auto;
            display:flex;
            padding-left: 2%;
            padding-right: 2%;
            
                
        }
        
        #showmood {
            width: 93%;
            background-color: rgba(210, 210, 44, 0.61);
            min-height: 350px;
            border-radius: 25px;
            margin-left: auto;
            margin-right: auto;
        }
        #showdrugs {
            width: 80%;
            background-color: rgba(210, 210, 44, 0.61);
            min-height: 350px;
            border-radius: 25px;
            margin-left: auto;
            margin-right: auto;
        }
        div.menuMood {
           width: 25%;
           margin-left: 1px;
           margin-right: 1px;
           text-align: center;
           font-size: 22px;

           border-radius: 25px 25px 0px 0px;
           cursor:pointer;

           

        }
        div.linkShowMood {

        }
        div.centerMood {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }
        div.sumMood {
            width: 400px;
            height: 200px;
            background-color: rgba(223, 223, 20, 0.59);
            border-radius: 20px;
            padding: 22px;
            margin-left: auto;
            margin-right: auto;
        }
        div.sumDrugs {
           width: 400px;
            height: 200px;
            background-color: rgba(99, 231, 84, 0.81);
            border-radius: 20px;
            padding: 22px;
            margin-left: auto;
            margin-right: auto;    
           
        }
        div.sumAction {
           width: 400px;
            height: 200px;
            background-color: rgba(64, 190, 215, 0.85);
            border-radius: 20px;
            padding: 22px;
            margin-left: auto;
            margin-right: auto;       
        }
        div.sumDrugsAt {
             overflow-y: scroll; 
             width: 98%;
             margin-left: auto;
             margin-right: auto;
             height: 100%;
        }
        div.errorMainMessage {
            color: white;
            text-align: center;
            padding-top: 18px;
            font-size: 30px;
            background-color: red;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            height: 90%;
            box-shadow: 6px 0  20px 8px rgba(127, 15, 15, 0.8);
            border-radius: 30px;
        }
        div.errorMainMessagesmall {
            color: white;
            text-align: center;
            padding-top: 18px;
            font-size: 25px;
            background-color: red;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            height: 90%;
            box-shadow: 6px 0  20px 8px rgba(127, 15, 15, 0.8);
            border-radius: 30px;
        }
        div.showLink {
            width: 800px;
            height: 100px;
            margin-left: auto;
            margin-right: auto;
            clear: both;
            
            
        }
        div.positionDrugs {
            width: 100%;
            background-color: #1BBC09;
            margin-bottom: 6px;
            height: 30px;
            color: #CFF5CA;
            font-size: 20px;
            font-weight: bold;
            border-radius: 20px;
            text-align: center;
        }
        div.positionAction {
            width: 100%;
 
            margin-bottom: 6px;
            height: 30px;
            color: #3F5B0B;
            font-size: 18px;
            font-weight: bold;
            border-radius: 20px;
            text-align: center;     
        }
        div.linkShow {
           
            width: 250px;
            text-align: center;
            height: 65px;
            padding-top: 13px;
            font-size: 22px;
            border-radius: 20px;
            color: white;
            font-weight: bold;
            float: left;
            margin-left: 10px;
            cursor: pointer;
        }
        div.linkSelected {
           color: yellow;
           border:  2px solid yellow;
           cursor: default;
        }
        div.disable {
            background-color: #D92A2A;
            cursor: not-allowed;
        }

}